<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PumpTotalTime.Settings1.Setting" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\jieaido\Documents\dbPump.mdb"
            providerName="System.Data.OleDb" />
        <add name="PumpTotalTime.Properties.Settings.dbPumpConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dbPump.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>